<ul class="nav flex-column">
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">상품관리</span>
         <a class="text-white" th:href="@{/admin/product/registration}">상품등록</a>
      </h6>
   </li>
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">상품관리</span>
         <a class="text-white" th:href="@{/admin/product/list}">상품목록</a>
      </h6>
   </li>
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">상품관리</span>
         <a class="text-white" th:href="@{/admin/product/category}">상품분류관리</a>
      </h6>
   </li>
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">상품관리</span>
         <a class="text-white" th:href="@{/admin/product/display}">상품진열관리</a>
      </h6>
   </li>
   
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">고객관리</span>
         <a class="text-white" th:href="@{/admin/customer/management}">고객정보관리</a>
      </h6>
   </li>
   
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">주문관리</span>
         <a class="text-white" th:href="@{/admin/order/management}">전체주문목록</a>
      </h6>
   </li>
   
    <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">프로모션</span>
         <a class="text-white" th:href="@{/admin/promotion/event}">이벤트관리</a>
      </h6>
   </li>
   
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">통계분석</span>
         <a class="text-white" th:href="@{/admin/statistics/product}">상품분석</a>
      </h6>
   </li>
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">통계분석</span>
         <a class="text-white" th:href="@{/admin/statistics/sales}">매출분석</a>
      </h6>
   </li>
   
   <li class="nav-item mb-2">
      <h6 class="text-white">
         <span class="mr-2">홈화면관리</span>
         <a class="text-white" th:href="@{/admin/uimanagement/home}">홈화면 순서 변경</a>
      </h6>
   </li>
    
</ul>